.movies__fieldset {
  max-width: 1140px;
  height: 160px;
  margin: 69px auto 0;
  border: none;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
  padding: 0 0 2px 0;
}

.movies {
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .movies__fieldset {
    max-width: 1000px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .movies__fieldset {
    border: none;
    padding: 0 30px;
    margin: 66px auto 0;
  }

  .movies {
    margin-bottom: 158px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies__fieldset {
    border: none;
    padding: 0 15px;
    margin: 71px auto 0;
  }

  .movies {
    margin-bottom: 160px;
  }
}