.profile {
    width: 100%;
    height: 100%;
}

.profile__title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
    padding: 0 435px;
}

.profile__userdata-container {
    display: flex;
    min-height: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
    width: 100%;
}

.profile__subtitle {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.profile__userdata {
    background: none;
    border: none;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    outline: none;
    color: white;
}
.profile__edit-button[disabled] {
    color: #838383;
    background: none;
}

.profile__edit-button {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
    margin-bottom: 14px;
    cursor: pointer;
}

.profile__edit-button:hover {
    color: rgb(156, 156, 156);
}

.profile__logout-button {
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background: none;
    cursor: pointer;
}

.profile__logout-button:hover {
    color: #8f1d3b;

}

.profile__userdata-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 14px;
    margin-top: 17px;
    width: 100%;
}

.profile__userdata-line:last-child {
    border: none;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 148px;
    align-items: center;
}

.profile__logout-nav {
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .profile__container {
        margin-top: 211px;
    }

    .profile__userdata-container {
        margin-top: 7px;
    }

    .profile__buttons {
        margin-top: 139px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile__title {
        font-size: 24px;
        margin: 21px 0 26px 0;
    }

    .profile__userdata-line {
        padding-bottom: 14px;
        margin-top: 17px;
        width: 100%;
    }

    .profile__container {
        display: block;
        padding: 0;
        padding: 0 178px;
    }

    .profile__userdata-container {
        margin: 0;
    }

    .profile__buttons {
        margin-top: 142px;
        margin-bottom: 40px;
    }

    .profile__edit-button {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .profile__logout-button {
        font-size: 13px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile__title {
        font-size: 24px;
        margin: 21px 0 11px 0;
    }

    .profile__userdata-line {
        padding-bottom: 14px;
        margin-top: 17px;
        width: 100%;
    }

    .profile__container {
        padding: 0 30px;
        display: flex;
        align-items: center;
        margin-top: 49px;
    }

    .profile__userdata-container {
        margin: 0;
        padding: 0 30px;
    }

    .profile__buttons {
        margin-top: 308px;
        margin-bottom: 40px;
    }

    .profile__edit-button {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .profile__logout-button {
        font-size: 12px;
    }
}