.error {
  margin: 245px auto;
  display: flex;
  flex-direction: column;
}

.error__container {
  display: flex;
  flex-direction: column;
}

.error__title {
  color: #FFF;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.error__subtitle {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}

.error__button {
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 168px;
  text-decoration: none;
  background: none;
  border: none;
}

@media screen and (max-width: 1024px) {
  .error__title {
    color: #FFF;
    text-align: center;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .error__title {
    font-size: 140px;
  }

  .error {
    margin: 406px auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__title {
    font-size: 80px;
  }

  .error__subtitle {
    font-size: 12px;
    margin-top: 10px;
  }

  .error {
    margin: 330px auto;
  }

  .error__button {
    font-size: 12px;
    margin-top: 270px;
  }
}