.navigation {
  height: 100%;
  width: 520px;
  background: #202020;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: scale(0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0px 500px;
  z-index: 1;
}

.navigation__account-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.navigation__account-logo {
  border-radius: 6px;
  background: #313131;
  padding: 10px;
}

.navigation.opened {
  transform: scale(1);
}

.navigation-content {
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 141px;
  align-items: center;
}

.navigation__link {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin: 0;
}

.navigation__button {
  background: url('../../images/closeButtoon.svg');
  background-color: none;
  border: none;
  width: 34px;
  height: 51px;
  background-size: contain;
  position: fixed;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  margin-right: 25px;
  margin-top: 21px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation__account-link {
    margin-top: auto;
    padding: 197px;
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .navigation-content {
    margin-top: 140px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation {
    width: 100%;
  }


  .navigation-content {
    margin-top: 125px;
    margin-right: 0;
    padding: 20px;
    gap: 25px;
  }

  .navigation__account-link {
    margin-top: 418px;
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .navigation__button {
    margin-right: 12px;
    margin-top: 13px;
  }
}