.techs {
    min-height: 625px;
    background: #272727;
    padding: 0px 70px;
}

.techs__container {
    padding-top: 100px;
}


.techs__title {
    color: white;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid white;
    padding-bottom: 23px;
    margin-top: 0;
    margin-bottom: 90px;
}

.techs__list {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin-bottom: 26px;
}

.techs__subtitle {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
    max-width: 460px;
    margin: 0 auto 100px auto;
}

.techs__stack-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 42px 100px 0;
}

.techs__stack-element {
    list-style-type: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    border-radius: 10px;
    background: #303030;
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .techs {
        background: #272727;
        padding: 0 50px;
        min-height: 0;
        padding-bottom: 91px;
    }

    .techs__list {
        margin-bottom: 22px;
        font-size: 50px;
        line-height: 58px;
        letter-spacing: -2px;
    }

    .techs__subtitle {
        font-size: 12px;
        text-align: center;
        width: 100%;
        line-height: 18px;
        letter-spacing: -0.48px;
        margin: 0 auto 83px auto;
    }

    .techs__stack-element {
        width: 84px;
        height: 57px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }

    .techs__stack-list {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .techs__title {
        letter-spacing: -0.72px;
        padding-bottom: 23px;
        margin-bottom: 80px;
        font-size: 22px;
        letter-spacing: -0.88px;
    }

    .techs__container {
        padding-top: 92px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .techs {
        background: #202020;
        padding: 0 18px;
    }

    .techs__list {
        margin-bottom: 13px;
        font-size: 30px;
        line-height: 58px;
        letter-spacing: -1.2px;
    }

    .techs__subtitle {
        font-size: 11px;
        text-align: center;
        width: 100%;
        line-height: 16px;
        letter-spacing: -0.44px;
        margin-bottom: 49px;
    }

    .techs__stack-element {
        width: 84px;
        height: 57px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }

    .techs__stack-list {
        display: grid;
        grid-template-columns: repeat(2, 85px);
        margin: 0 42px 142px 0;
    }

    .techs__title {
        padding-bottom: 28px;
        margin-bottom: 49px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .techs__container {
        padding-top: 138px;

    }
}