.movie-card {
    width: 360px;
    height: 319px;
    border-radius: 6px;
    background: #222;
    display: flex;
    flex-direction: column;
}

.movie-card__title {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-top: 8px;
    margin-left: 6px;
}

.movie-card__duration {
    color: #8B8B8B;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;
    margin-right: 2px;
}

.movie-card__image {
    width: 360px;
    height: 200px;
    margin-top: 4px;
}

.movie-card__button {
    background: none;
    border: none;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
    border-radius: 30px;
    background: #313131;
    width: 100px;
    height: 29px;
    color: white;
    font-size: 12px;
}

.movie-card__button-delete {
    background: none;
    border: none;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
    border-radius: 30px;
    background: #313131;
    background-image: url('../../../images/closeButtoon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    width: 100px;
    height: 29px;
    color: rgb(255, 0, 0);
}

.movie-card__button-saved {
    background: none;
    border: none;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
    border-radius: 30px;
    background: #EE3465;
    background-image: url('../../../images/added__film.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 29px;
    color: white;

}

.movie-card__button-image {
    border: none;
}

.movie-card__title-container {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
}

@media screen and (max-width: 1024px) {
    .movie-card {
        width: 342px;
        height: 309px;
    }

    .movie-card__image {
        width: 342px;
        height: 190px;
        margin-top: 17px;
    }

    .movie-card__title {
        margin: 15px 0 0 9px
    }

    .movie-card__duration {
        margin: 15px 0 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .movie-card {
        width: 342px;
        height: 309px;
    }

    .movie-card__image {
        width: 342px;
        height: 190px;
        margin-top: 17px;
    }

    .movie-card__title {
        font-size: 15px;
        line-height: 18px;
        margin: 0;
        margin-top: 10px;
    }

    .movie-card__duration {
        font-size: 13px;
        line-height: 18px;
    }

    .movie-card__title-container {
        padding: 0 18px;
        align-items: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .movie-card {
        width: 300px;
        height: 271px;
    }

    .movie-card__image {
        width: 300px;
        height: 168px;
        margin-top: 13px;
    }

    .movie-card__title {
        font-size: 12px;
        line-height: 18px;
        margin-top: 11px;
        margin-left: 7px;
    }

    .movie-card__duration {
        font-size: 10px;
        line-height: 18px;
        margin-top: 12px;
        margin-right: 7px;
    }

    .movie-card__title-container {
        padding: 0 7px;
    }
}