.promo {
    min-height: 524px;
    background-color: #073042;
    padding: 50px 70px 0 69px;
    display: flex;
    gap: 190px;
}

.promo__title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    max-width: 640px;
    max-height: 152px;
    margin-bottom: 58px;
    margin-top: 25px;
}

.promo__subtitle {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: .5;
    max-width: 310px;
    margin-bottom: 153px;
}

.promo__image {
    width: 310px;
    height: 304px;
    margin-top: 25px;
}

.promo__link {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #FFF;
    padding: 10px 20px;
}

@media screen and (max-width: 1024px) {
    .promo {
        flex-direction: column-reverse;
        align-items: center;
        padding: 116px 0 73px 0;
        gap: 23px;
    }

    .promo__title {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        margin: 26px 0 21px 0;
    }

    .promo__subtitle {
        text-align: center;
        font-size: 13px;
        line-height: normal;
        margin: 0 auto;
        width: 260px;
    }

    .promo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promo__link {
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .promo__title {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.2px;
        min-width: 300px;
        text-align: center;
        margin-top: 44px;
        margin-bottom: 24px;
    }

    .promo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    .promo__image {
        width: 210px;
        height: 206px;
        margin-top: 20px;
    }

    .promo__subtitle {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        max-width: 260px;
        margin: 0 auto 79px auto;
    }

    .promo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
    }
}