.saved-movies__fieldset {
    max-width: 1140px;
    height: 160px;
    margin: 69px auto 0;
    border: none;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
    padding: 0 0 2px 0;
}

.saved-movies {
    width: 100%;
}
@media screen and (max-width: 1024px) {
  .saved-movies__fieldset {
    padding: 0 30px;
  }
}


@media screen and (max-width: 767px) {
    .saved-movies__fieldset {
      padding: 0 14px;
    }
  }