.login__container {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 195px;
    display: flex;
    align-items: baseline;
}

.login {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.login__logo:hover {
    opacity: .8;
}

.login__title {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login__field {
    width: 100%;
    margin-top: 20px;
}

.login__field_subtitle {
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;

}

.login__input {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #424242;
    padding: 0 0 13px 0;
    margin-bottom: 20px;
}

.login__input_type_password {
    color: #EE3465;
    font-size: 8px;
    letter-spacing: 2px;
}

.login__form-input-error {
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__button {
    border-radius: 3px;
    background: #4285F4;
    border: none;
    color: white;
    width: 396px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login__auth_subtitle {
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__auth_enter {
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 6px;
}

.login__offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.login__field-text {
    margin-bottom: 26px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .login {
        margin-top: 230px;
        margin-bottom: 225px;
    }
    
    .login__container {
        margin-bottom: 201px;
    }

    .login__title {
        margin-top: 18px;
    }
}

@media screen and (max-width: 767px) {
    .login {
        align-items: center;
        margin-top: 56px;
        padding: 0 30px;
        margin-bottom: 22px;
    }

    .login__field {
        margin-top: 58px;
    }

    .login__button {
        width: 260px;
        height: 45px;
        font-size: 12px;
    }

    .login__container {
        align-items: center;
        margin-top: 31px;
        margin-bottom: 288px;
    }

    .login__auth_subtitle {
        font-size: 12px;
    }

    .login__auth_enter {
        font-size: 12px;
        text-decoration: none;
    }
}